################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AdventOfCode/v17
/.vs/AdventOfCode/FileContentIndex
/.vs
/2024/Day1/obj
/2024/Day1/bin/Debug/net6.0
/2024/Day2/obj
